body {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: rgb(202, 126, 26);
  text-align: center;
}


.titulo {
  font-size: 150px;  
  vertical-align: middle;
  background-image: url(./imagens/backgroundtitle.webp);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: fantasy;
  margin-top: 25%;
  margin-bottom: 10%;
  }

.subtitulo {
  font-size: 50px;
}


@media (max-width: 700px) {
  .titulo {
    max-width: max-content;
    font-size: 40px;
    margin-top: 25%;
    margin-bottom: 15%;
    }

  .body {
    flex-wrap: row;
  }

  .subtitulo {
    font-size: 20px;
  }

}